.build
.idea
/.build/
.swiftpm
/.junie/
/.swiftpm/
/.build-diagnostics/
.DS_Store
*/.DS_Store
**/.DS_Store
.build/

.swiftpm/xcode/xcuserdata/

DerivedData/

*.xcuserstate
/.swiftpm
/.checkpoint-backups/
